{% extends 'courseinfo/base.html' %}

{% block title %}
    Registration - {{ registration.section }}
{% endblock %}

{% block content %}
    <h2>{{ registration.student }}</h2>

    <section>
        <table>
            <tr>
                <th>Student:</th>
                <td><a href="">{{ registration.student }}</a></td>
            </tr>
            <tr>
                <th>Section:</th>
                <td>{{ registration.section }}</td>
            </tr>
        </table>
    </section>

{% endblock %}
